<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.raffaellatran.falldetectorlibrary">

    <uses-feature
        android:name="android.hardware.sensor.gyroscope"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.sensor.accelerator"
        android:required="true" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name="com.app.raffaellatran.falldetectorlibrary.FallLibrary"
        android:allowBackup="true"
        android:launchMode="singleTask"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

    </application>

</manifest>